@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  font-family: 'Mistral', sans-serif;
  font-weight: 100;
  width: 100%;
  padding: 0px 0;
  height: 26px;
  text-align: center;
  /*text-green: 0 0 1px rgba(0,0,0,.3);*/
}

h1 a {
  color: rgba(1,1,2,.6);
}

h2 {
  font-family: 'Mistral', sans-serif;
  font-weight: 100;
  width: 100%;
  display: block;
  padding: 0px 0;
  height: 26px;
  text-align: center;
   /*text-shadow: 0 0 1px rgba(0,0,0,.3);*/

}

h2 a {
   color: rgba(1,1,2,.6);
}