@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  font-family: 'Eurostile', sans-serif;
  font-weight: 100;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.5);
  /*text-shadow: 0 0 1px rgba(0,0,0,.3);*/
}

h2 {
  display: block;
  text-align: center;
  color: rgba(0,0,0,.4);
}