@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.3);
  /*text-shadow: 0 0 1px rgba(0,0,0,.3);*/
}